@value colors: "../../styles/Colors.module.css";
@value profile-secondary-color, profile-tertiary-color, profile-border-color from colors;
@value medium from "../../styles/Breakpoints.module.css";

.articleListItem {
  display: flex;
  flex-direction: column;
}

.articleListItem:last-child {
  border-bottom: 3px solid profile-border-color;
}

.infoContainer,
.imageContainer {
  border-top: 3px solid profile-border-color;
  padding: 10px 0;
  position: relative;
}

.imageContainer img {
  width: 100%;
}

.time {
  display: block;
  margin-bottom: 10px;
  line-height: 1;
  font-style: italic;
}

.heading {
  margin-bottom: 0;
  line-height: 1;
}

.infoSeparator {
  display: block;
  line-height: 1;
  font-weight: bold;
  font-size: 28px;
}

.additionalInfo {
  margin-top: 10px;
}
.additionalInfo a {
  display: block;
}

.infoSeparator:first-of-type {
  color: profile-secondary-color;
}

.infoSeparator:last-of-type {
  color: profile-tertiary-color;
}

.info1,
.info2 {
  margin-bottom: 0;
  font-size: 18px;
}

@media (medium) {
  .articleListItem {
    flex-direction: row;
  }

  .infoContainer {
    margin-right: 40px;
    padding: 15px 0;
    flex: 1;
  }

  .imageContainer {
    flex: 1;
    padding: 15px 0;
  }

  .imageContainer::before {
    content: "";
    position: absolute;
    top: -3px;
    bottom: 0;
    width: 3px;
    background-color: #e1e1e1;
    left: -20px;
  }
}
