.keepInTouch {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.keepInTouchLinks {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
